{% extends 'template_base.html.twig' %}

{% block body %}
    {{ form_start(form, { 'attr': {'id': 'goodness_form'}}) }}
    
    <div class="row my-5 mx-1">

            <div class="col-12 mb-2">
                <h2>Dodaj nową pozycje</h2>
            </div>
        
            {{ form_errors(form) }}
            
            <div class="col-xl-6 col-sm-12">
                {{ form_row(form.name, {
                    'label_attr': {
                        'class': 'form-label'
                    },
                    'attr': {
                        'class': 'form-control'
                    }
                }) }}
                {{ form_row(form.description, {
                    'label_attr': {
                        'class': 'form-label mt-3'
                    },
                    'attr': {
                        'class': 'form-control',
                        'rows': 5
                    }
                }) }}
                {{ form_row(form.save, {
                    'label': 'Dodaj',
                    'attr': {
                        'class': 'btn btn-primary mt-3'
                    }
                }) }}
            </div>
            <div class="col-xl-3 col-sm-12">
                {{ form_label(form.type, null, {
                    'label_attr': {
                        'class': 'form-label'
                    }
                }) }}
                {% for child in form.type.children %}
                    <div class="form-check">
                        {{ form_label(child, null, {
                            'label_attr': {
                                'class': 'form-chech-label'
                            }
                        }) }}
                        {{ form_widget(child, {
                            'attr': {
                                'class': 'form-check-input'
                            }
                        }) }}
                    </div>
                {% endfor %}

            </div>
            <div class="col-xl-3 col-sm-12">
                {{ form_row(form.icon, {
                    'label_attr': {
                        'class': 'form-label'
                    },
                    'attr': {
                        'placeholder': 'Przeciągnij i rzuć lub wciśnij'
                    }
                }) }}
            </div>
        </div>

    {{ form_end(form) }}
{% endblock %}